<nav id="navmenu" class="navmenu">
  <ul>
    <li>
      <a href="{{ '' | absolute_url }}#hero">Beranda<br /></a>
    </li>
    <li><a href="#about">Tentang</a></li>
    <li class="dropdown">
      <a href="#produk"
        ><span>Produk</span> <i class="bi bi-chevron-down toggle-dropdown"></i
      ></a>
      <ul>
        <li><a href="{{ 'produk/seedbox' | relative_url }}">Seedbox</a></li>
        <li><a href="#">Nextcloud</a></li>
        <li><a href="#">Tunnel OpenVPN</a></li>
        <li><a href="#">Deploy Aplikasi (Self-Host)</a></li>
      </ul>
    </li>
    <li><a href="#contact">Kontak</a></li>
  </ul>
  <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
</nav>
