<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body class="{{ page.body_class }}">
    <header
      id="header"
      class="header d-flex align-items-center {% if page.fixed_navbar %} fixed-top {% endif %}"
    >
      <div
        class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between"
      >
        <a
          href="{{ '' | absolute_url }}"
          class="logo d-flex align-items-center me-auto me-lg-0"
        >
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->
          <h1 class="sitename">{{ site.title }}</h1>
          <span>.</span>
        </a>

        {% include navbar.html %}
      </div>
    </header>

    <main class="main">{{ content }}</main>

    {% include footer.html %}
  </body>
</html>
