---
layout: base
body_class: service-details-page
---

<!-- Page Title -->
<div class="page-title" data-aos="fade">
  <div class="heading">
    <div class="container">
      <div class="row d-flex justify-content-center text-center">
        <div class="col-lg-8 mt-5">
          <h1>Produk</h1>
          <p class="lead">
            Jelajahi produk yang disediakan oleh <strong>Exodius</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Page Title -->

<!-- Starter Section Section -->
<section id="starter-section" class="starter-section section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Produk</h2>
    <p>{{ page.title }}<br /></p>
  </div>
  <!-- End Section Title -->

  <div class="container" data-aos="fade-up">{{ content }}</div>
</section>
<!-- /Starter Section Section -->
